// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.quiz-navigation {
  left: 0;
  width: 70px;
  top: 54px;
  bottom: 0;
  .navigation-item {
    height: 56px;
    &.active {
      background: #484c50;
      color: $success !important;
    }
  }
}

.vh100 {
  height: calc(100vh - 54px);
}
